In [56]:
import pandas as pd
import sklearn as sk
import tensorflow as tf
import seaborn as sns

In [57]:
df= pd.read_csv('./dataset.csv')
df.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

# PRE PROCESSING

In [58]:
from time import time


#convert str to date
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])
df.count()

InvoiceNo      541909
StockCode      541909
Description    540455
Quantity       541909
InvoiceDate    541909
UnitPrice      541909
CustomerID     406829
Country        541909
dtype: int64

In [59]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [60]:
df=df[df['CustomerID'].notna()]

In [61]:

df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [62]:
""
from datetime import datetime
from random import triangular


start_date=pd.Timestamp(2010,12,1)
end_date=pd.Timestamp(2011,8,31)
train_set=df[df['InvoiceDate']>=start_date]
train_set=train_set[train_set['InvoiceDate']<=end_date]

In [63]:
train_set.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [64]:
start_date=pd.Timestamp(2011,9,1)
end_date=pd.Timestamp(2011,12,31)
churn_set=df[df['InvoiceDate']>=start_date]
churn_set=churn_set[churn_set['InvoiceDate']<=end_date]
churn_set.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
320705,565080,20677,PINK POLKADOT BOWL,8,2011-09-01 08:25:00,1.25,13509.0,United Kingdom
320706,565080,22128,PARTY CONES CANDY ASSORTED,24,2011-09-01 08:25:00,1.25,13509.0,United Kingdom
320708,565082,22423,REGENCY CAKESTAND 3 TIER,2,2011-09-01 09:15:00,12.75,13305.0,United Kingdom
320709,565082,15060B,FAIRY CAKE DESIGN UMBRELLA,8,2011-09-01 09:15:00,3.75,13305.0,United Kingdom
320710,565082,23245,SET OF 3 REGENCY CAKE TINS,4,2011-09-01 09:15:00,4.95,13305.0,United Kingdom

In [65]:
train_unique=train_set['CustomerID'].unique()
churn_unique=churn_set['CustomerID'].unique()

ischurnlis=[]
for id in train_unique:
    if id in churn_unique:
        ischurnlis.append(id)

ischurnlis

[13047.0,
 12583.0,
 13748.0,
 15291.0,
 14688.0,
 17809.0,
 15311.0,
 14527.0,
 16098.0,
 17420.0,
 16029.0,
 12431.0,
 17511.0,
 13705.0,
 13408.0,
 13767.0,
 17924.0,
 13448.0,
 15862.0,
 15513.0,
 16218.0,
 14307.0,
 17920.0,
 12838.0,
 13255.0,
 13758.0,
 13694.0,
 15983.0,
 14849.0,
 16210.0,
 17377.0,
 17181.0,
 17951.0,
 12748.0,
 15012.0,
 17572.0,
 14001.0,
 12662.0,
 15525.0,
 17905.0,
 15485.0,
 12433.0,
 15605.0,
 18144.0,
 14594.0,
 14911.0,
 16456.0,
 17841.0,
 12472.0,
 17346.0,
 17873.0,
 12921.0,
 13468.0,
 17760.0,
 16928.0,
 16048.0,
 14696.0,
 16539.0,
 17025.0,
 13777.0,
 17690.0,
 17460.0,
 18229.0,
 17069.0,
 14606.0,
 13576.0,
 13090.0,
 15694.0,
 14741.0,
 14092.0,
 15752.0,
 14047.0,
 13941.0,
 17017.0,
 14135.0,
 12471.0,
 15601.0,
 13418.0,
 14766.0,
 14388.0,
 14901.0,
 18041.0,
 15955.0,
 15111.0,
 14390.0,
 13305.0,
 14060.0,
 17287.0,
 15544.0,
 15738.0,
 16042.0,
 17381.0,
 15827.0,
 14180.0,
 13117.0,
 16916.0,
 17964.0,
 14466.0,
 17235.0,
 17802.0,
 14449.0,
 15838.0,
 13491.0,
 16186.0,
 17685.0,
 17581.0,
 13138.0,
 17567.0,
 15061.0,
 16203.0,
 15640.0,
 16770.0,
 17838.0,
 17228.0,
 14829.0,
 17412.0,
 14031.0,
 14775.0,
 12971.0,
 15834.0,
 17659.0,
 15299.0,
 14443.0,
 14156.0,
 17757.0,
 13798.0,
 13145.0,
 14395.0,
 14865.0,
 15093.0,
 16150.0,
 17552.0,
 14236.0,
 17961.0,
 17135.0,
 17396.0,
 12967.0,
 15240.0,
 18225.0,
 13520.0,
 12841.0,
 16905.0,
 12427.0,
 16891.0,
 14680.0,
 17884.0,
 12557.0,
 14083.0,
 13013.0,
 14210.0,
 16477.0,
 12600.0,
 16013.0,
 17949.0,
 12779.0,
 12682.0,
 14723.0,
 17954.0,
 17819.0,
 12712.0,
 15373.0,
 16140.0,
 17198.0,
 17238.0,
 15769.0,
 14396.0,
 14898.0,
 12395.0,
 16455.0,
 13081.0,
 15545.0,
 17243.0,
 15465.0,
 15708.0,
 13089.0,
 16033.0,
 13838.0,
 15351.0,
 18055.0,
 15038.0,
 18109.0,
 13069.0,
 16241.0,
 14800.0,
 16839.0,
 16168.0,
 16931.0,
 16814.0,
 13269.0,
 12567.0,
 14810.0,
 16353.0,
 18118.0,
 13831.0,
 17796.0,
 18156.0,
 16983.0,
 17059.0,
 16327.0,
 17211.0,
 15570.0,
 17858.0,
 16393.0,
 17863.0,
 16411.0,
 15023.0,
 17402.0,
 15426.0,
 12647.0,
 15867.0,
 14506.0,
 15555.0,
 13034.0,
 15953.0,
 16143.0,
 12720.0,
 16422.0,
 12747.0,
 15502.0,
 17965.0,
 14404.0,
 13579.0,
 13174.0,
 15987.0,
 17677.0,
 13652.0,
 12586.0,
 17428.0,
 16161.0,
 18219.0,
 14293.0,
 14748.0,
 16638.0,
 17674.0,
 12808.0,
 13094.0,
 12708.0,
 15898.0,
 17227.0,
 15039.0,
 15919.0,
 15860.0,
 14189.0,
 15304.0,
 12474.0,
 16719.0,
 15048.0,
 15301.0,
 14708.0,
 16898.0,
 14825.0,
 17596.0,
 15078.0,
 14085.0,
 13155.0,
 15028.0,
 17019.0,
 14487.0,
 16722.0,
 14667.0,
 16710.0,
 15984.0,
 17682.0,
 17068.0,
 15356.0,
 16817.0,
 13030.0,
 17191.0,
 15194.0,
 14409.0,
 16861.0,
 13481.0,
 13495.0,
 17519.0,
 17218.0,
 17812.0,
 14215.0,
 15602.0,
 16782.0,
 12913.0,
 15021.0,
 17450.0,
 17091.0,
 17470.0,
 12681.0,
 14907.0,
 17735.0,
 16059.0,
 17720.0,
 15018.0,
 14733.0,
 13756.0,
 13319.0,
 17491.0,
 14282.0,
 13569.0,
 15498.0,
 14673.0,
 13488.0,
 16221.0,
 15965.0,
 15024.0,
 17675.0,
 13769.0,
 16904.0,
 16086.0,
 13880.0,
 13173.0,
 15858.0,
 12347.0,
 14739.0,
 16293.0,
 17419.0,
 16775.0,
 16950.0,
 17591.0,
 12839.0,
 15081.0,
 18102.0,
 16365.0,
 17870.0,
 16863.0,
 13078.0,
 13267.0,
 13050.0,
 12709.0,
 15628.0,
 14796.0,
 16779.0,
 13599.0,
 13329.0,
 18077.0,
 14744.0,
 15750.0,
 13983.0,
 13842.0,
 13199.0,
 14032.0,
 17706.0,
 16081.0,
 16525.0,
 14952.0,
 17975.0,
 16122.0,
 13126.0,
 16558.0,
 16713.0,
 15529.0,
 18043.0,
 16016.0,
 17722.0,
 17324.0,
 14051.0,
 15916.0,
 16233.0,
 16385.0,
 17213.0,
 18061.0,
 13113.0,
 13455.0,
 14217.0,
 17262.0,
 14299.0,
 18259.0,
 17676.0,
 12766.0,
 15298.0,
 13523.0,
 15005.0,
 15680.0,
 17894.0,
 14618.0,
 14866.0,
 13077.0,
 13115.0,
 13848.0,
 17999.0,
 17340.0,
 13984.0,
 15996.0,
 14030.0,
 16596.0,
 16700.0,
 16011.0,
 17655.0,
 16717.0,
 14243.0,
 12963.0,
 15660.0,
 18092.0,
 15358.0,
 12481.0,
 12721.0,
 12621.0,
 12683.0,
 13854.0,
 12494.0,
 17857.0,
 17411.0,
 12429.0,
 14987.0,
 17526.0,
 14440.0,
 13240.0,
 17430.0,
 15181.0,
 15856.0,
 13102.0,
 14205.0,
 17702.0,
 15271.0,
 13982.0,
 15288.0,
 16519.0,
 17816.0,
 13021.0,
 16255.0,
 17671.0,
 16350.0,
 17339.0,
 18230.0,
 17097.0,
 14441.0,
 15380.0,
 17442.0,
 17950.0,
 12826.0,
 15811.0,
 13327.0,
 17700.0,
 13136.0,
 15329.0,
 15211.0,
 16907.0,
 17576.0,
 14713.0,
 14702.0,
 13230.0,
 13969.0,
 17530.0,
 15805.0,
 17696.0,
 17076.0,
 17827.0,
 16265.0,
 17790.0,
 12731.0,
 14419.0,
 16656.0,
 14543.0,
 16062.0,
 18116.0,
 16019.0,
 18065.0,
 13148.0,
 12989.0,
 14107.0,
 12785.0,
 15514.0,
 13787.0,
 17865.0,
 17220.0,
 16873.0,
 14062.0,
 15179.0,
 18016.0,
 14448.0,
 16923.0,
 14159.0,
 14577.0,
 12753.0,
 17236.0,
 17372.0,
 16367.0,
 17917.0,
 13668.0,
 14684.0,
 17188.0,
 15547.0,
 15998.0,
 13959.0,
 15044.0,
 17937.0,
 14608.0,
 17618.0,
 14505.0,
 13198.0,
 12540.0,
 13225.0,
 14290.0,
 13209.0,
 13999.0,
 14498.0,
 15854.0,
 16701.0,
 14544.0,
 17338.0,
 17231.0,
 17799.0,
 14565.0,
 16726.0,
 14639.0,
 17611.0,
 12476.0,
 17293.0,
 17371.0,
 15159.0,
 13211.0,
 14525.0,
 13324.0,
 16442.0,
 18075.0,
 15468.0,
 16570.0,
 14524.0,
 12434.0,
 14961.0,
 17041.0,
 16458.0,
 14057.0,
 14871.0,
 13178.0,
 18044.0,
 16191.0,
 12370.0,
 14298.0,
 17158.0,
 14415.0,
 16899.0,
 16531.0,
 17404.0,
 16556.0,
 17739.0,
 13238.0,
 13097.0,
 12867.0,
 15392.0,
 13846.0,
 14401.0,
 16145.0,
 17629.0,
 14150.0,
 13496.0,
 13611.0,
 16954.0,
 17449.0,
 12865.0,
 15950.0,
 13458.0,
 14426.0,
 16003.0,
 13092.0,
 13426.0,
 15101.0,
 17033.0,
 14201.0,
 15822.0,
 16134.0,
 14913.0,
 13124.0,
 17214.0,
 15062.0,
 12928.0,
 15727.0,
 15290.0,
 15615.0,
 12577.0,
 17044.0,
 17633.0,
 13266.0,
 15664.0,
 16607.0,
 13317.0,
 13890.0,
 17001.0,
 16996.0,
 15482.0,
 14841.0,
 16670.0,
 16985.0,
 16705.0,
 16470.0,
 14414.0,
 15563.0,
 16746.0,
 14878.0,
 16743.0,
 12877.0,
 15394.0,
 14621.0,
 14309.0,
 17288.0,
 14709.0,
 15157.0,
 17744.0,
 16316.0,
 15620.0,
 16560.0,
 13534.0,
 14777.0,
 15366.0,
 14735.0,
 16271.0,
 18223.0,
 15532.0,
 16684.0,
 14334.0,
 16945.0,
 15197.0,
 17848.0,
 12348.0,
 13004.0,
 14560.0,
 12931.0,
 13627.0,
 12782.0,
 14769.0,
 12417.0,
 17315.0,
 16711.0,
 12726.0,
 17888.0,
 17007.0,
 12691.0,
 14146.0,
 12705.0,
 16885.0,
 17913.0,
 12668.0,
 16686.0,
 18245.0,
 16153.0,
 14646.0,
 12944.0,
 15312.0,
 14099.0,
 14113.0,
 13104.0,
 17621.0,
 17090.0,
 15527.0,
 18097.0,
 15034.0,
 12423.0,
 12678.0,
 15208.0,
 17306.0,
 14737.0,
 13029.0,
 13487.0,
 17593.0,
 13953.0,
 14533.0,
 14944.0,
 15587.0,
 13817.0,
 13165.0,
 13313.0,
 16875.0,
 12957.0,
 14462.0,
 13397.0,
 13680.0,
 12483.0,
 15164.0,
 14732.0,
 14221.0,
 14553.0,
 17389.0,
 12578.0,
 15841.0,
 13629.0,
 16600.0,
 16532.0,
 14653.0,
 16771.0,
 15046.0,
 18226.0,
 12415.0,
 17368.0,
 14258.0,
 15719.0,
 17634.0,
 16676.0,
 18283.0,
 13764.0,
 12413.0,
 14312.0,
 15845.0,
 16094.0,
 12530.0,
 16551.0,
 13750.0,
 18198.0,
 12484.0,
 18179.0,
 17284.0,
 13233.0,
 12480.0,
 13183.0,
 17095.0,
 12939.0,
 15611.0,
 17114.0,
 15059.0,
 16326.0,
 14761.0,
 17555.0,
 16735.0,
 16833.0,
 17800.0,
 16748.0,
 14755.0,
 16549.0,
 13565.0,
 15799.0,
 13451.0,
 14794.0,
 12539.0,
 12500.0,
 18171.0,
 16279.0,
 12524.0,
 17811.0,
 14321.0,
 14229.0,
 13107.0,
 16497.0,
 16303.0,
 15281.0,
 13473.0,
 12393.0,
 15370.0,
 14295.0,
 17365.0,
 15189.0,
 15518.0,
 14209.0,
 12728.0,
 13784.0,
 12724.0,
 13862.0,
 16791.0,
 16235.0,
 12523.0,
 16655.0,
 16359.0,
 16554.0,
 12359.0,
 15939.0,
 14587.0,
 14715.0,
 12437.0,
 14040.0,
 14514.0,
 14167.0,
 17364.0,
 16500.0,
 12951.0,
 15835.0,
 13993.0,
 14978.0,
 16395.0,
 13614.0,
 13246.0,
 15687.0,
 16493.0,
 12490.0,
 15626.0,
 12553.0,
 14175.0,
 15033.0,
 14329.0,
 16401.0,
 16206.0,
 13782.0,
 12924.0,
 16593.0,
 13700.0,
 13064.0,
 13048.0,
 18069.0,
 13634.0,
 16843.0,
 17064.0,
 17609.0,
 15673.0,
 12626.0,
 14976.0,
 12388.0,
 13527.0,
 15696.0,
 12673.0,
 15296.0,
 17988.0,
 12820.0,
 13001.0,
 14101.0,
 17730.0,
 14657.0,
 14292.0,
 13883.0,
 17018.0,
 12356.0,
 12527.0,
 13263.0,
 14428.0,
 12451.0,
 12422.0,
 15606.0,
 15831.0,
 13310.0,
 14916.0,
 17602.0,
 14572.0,
 13502.0,
 14784.0,
 12637.0,
 17418.0,
 16321.0,
 16892.0,
 17771.0,
 16912.0,
 14895.0,
 12594.0,
 12664.0,
 16618.0,
 14088.0,
 12970.0,
 17644.0,
 17769.0,
 16085.0,
 15443.0,
 13742.0,
 17673.0,
 12727.0,
 13068.0,
 15497.0,
 14501.0,
 17861.0,
 18161.0,
 18136.0,
 16660.0,
 13396.0,
 12935.0,
 16730.0,
 14541.0,
 12421.0,
 13901.0,
 13158.0,
 14257.0,
 15218.0,
 15110.0,
 14534.0,
 15967.0,
 12854.0,
 13815.0,
 18008.0,
 18277.0,
 14389.0,
 15339.0,
 12744.0,
 14341.0,
 13168.0,
 17515.0,
 17082.0,
 12609.0,
 16133.0,
 13049.0,
 13405.0,
 14049.0,
 16043.0,
 14233.0,
 17075.0,
 13098.0,
 17027.0,
 17786.0,
 16409.0,
 15227.0,
 12997.0,
 15215.0,
 16918.0,
 16882.0,
 14442.0,
 16496.0,
 17311.0,
 15910.0,
 16949.0,
 14970.0,
 14701.0,
 12645.0,
 16767.0,
 14738.0,
 17540.0,
 14239.0,
 18125.0,
 15549.0,
 15864.0,
 14662.0,
 17180.0,
 13330.0,
 13552.0,
 13538.0,
 16523.0,
 14659.0,
 13141.0,
 15365.0,
 13709.0,
 17329.0,
 14805.0,
 15579.0,
 14595.0,
 17463.0,
 14502.0,
 12528.0,
 17314.0,
 17373.0,
 18145.0,
 14467.0,
 12908.0,
 15144.0,
 14776.0,
 16407.0,
 12778.0,
 15058.0,
 17147.0,
 13881.0,
 16612.0,
 12477.0,
 12836.0,
 13939.0,
 16745.0,
 13606.0,
 15203.0,
 16515.0,
 12775.0,
 15981.0,
 16110.0,
 17376.0,
 13110.0,
 12676.0,
 15971.0,
 14665.0,
 17560.0,
 16156.0,
 13728.0,
 13894.0,
 13824.0,
 15270.0,
 14188.0,
 18017.0,
 15421.0,
 14798.0,
 12990.0,
 16992.0,
 17071.0,
 13394.0,
 12502.0,
 16333.0,
 14044.0,
 17672.0,
 12464.0,
 14540.0,
 13539.0,
 15885.0,
 13208.0,
 13871.0,
 16938.0,
 17929.0,
 13137.0,
 13725.0,
 13309.0,
 12842.0,
 15199.0,
 13911.0,
 14194.0,
 14842.0,
 15781.0,
 14410.0,
 17302.0,
 17613.0,
 13334.0,
 17162.0,
 17774.0,
 15407.0,
 16332.0,
 14475.0,
 12576.0,
 12599.0,
 14562.0,
 13590.0,
 17537.0,
 12462.0,
 17940.0,
 17686.0,
 15809.0,
 18093.0,
 16027.0,
 16842.0,
 15796.0,
 ...]

In [66]:
train_set=train_set.assign(isChurn=[1 if x in ischurnlis else 0 for x in train_set['CustomerID']])

In [69]:
train_set.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,isChurn
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,0
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,0
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,0

In [73]:
train_set.count()

InvoiceNo      231183
StockCode      231183
Description    231183
Quantity       231183
InvoiceDate    231183
UnitPrice      231183
CustomerID     231183
Country        231183
isChurn        231183
dtype: int64

In [77]:
len(train_set['Description'].unique())

3546